@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  display: block;
  margin: 0 auto;
  width: 95%;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 30px;
}

.table-head{
  background-color: black;
  color: white !important;
}